@charset "UTF-8";
/*
Sass Variables
*/
/*
$ps-content-margins:1366px;
$ps-content-margins2:683px; //$ps-content-margins / 2
*/
/*
Sass Functions
*/
/*
Sass Mixins
*/
/*
Reset/Normalize
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600");
body, ul {
  padding: 0;
  margin: 0; }

/*
Typography Rules

The Sans
-------------
The Sans se aplica en titulares de sección y de contenidos, aportando al
portal la personalidad propia requerida.

Source Sans Pro
-----------------
En el portal alcobendas.org y sus sitios web relacionados se utiliza como
texto de párrafo por defecto
*/
html,
body {
  color: #333;
  position: relative;
  margin-bottom: 90px;
  /* permite salvar el contenido oculto detras de la botonera principal*/
  font-family: "Source Sans Pro";
  font-weight: 400; }

h1 {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 32px;
  color: #206db5; }

h2 {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  color: #206db5; }

h3 {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  color: #206db5; }

h4 {
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 16px;
  color: #206db5; }

.ps_pp {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 22px;
  color: #333333; }

p {
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: 17px;
  color: #333333; }

ul {
  list-style-type: none; }

svg {
  width: 24px;
  height: 24px; }

.charts-google svg {
  width: auto;
  height: auto; }

/*
Sass Header
*/
/*
Sass Footer
*/
