@charset "UTF-8";
/*
Sass Variables
*/
/*
$ps-content-margins:1366px;
$ps-content-margins2:683px; //$ps-content-margins / 2
*/
/*
Sass Functions
*/
/*
Sass Mixins
*/
/*
Reset/Normalize
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600");
body, ul {
  padding: 0;
  margin: 0; }

/*
Typography Rules

The Sans
-------------
The Sans se aplica en titulares de sección y de contenidos, aportando al
portal la personalidad propia requerida.

Source Sans Pro
-----------------
En el portal alcobendas.org y sus sitios web relacionados se utiliza como
texto de párrafo por defecto
*/
html,
body {
  color: #333;
  position: relative;
  font-family: "Source Sans Pro";
  font-weight: 400; }

h1 {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 32px;
  color: #206db5; }

h2 {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  color: #206db5; }

h3 {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  color: #206db5; }

h4 {
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 16px;
  color: #206db5; }

.ps_pp {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 22px;
  color: #333333; }

p {
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: 17px;
  color: #333333; }

ul {
  list-style-type: none; }

svg {
  width: 24px;
  height: 24px; }

.charts-google svg {
  width: auto;
  height: auto; }

/*
Sass Header
*/
/*
Sass Footer
*/
.region.region-footer {
  background: #4e4e4e; }
  .region.region-footer .block-views {
    margin: 0 2em; }
    .region.region-footer .block-views .view-header {
      margin: 0 auto;
      padding: 2em 0 0 0;
      text-align: center;
      color: #b8bbbb;
      font-family: "Waiting for the Sunrise", cursive;
      font-size: 1.4em;
      letter-spacing: 0.1em;
      text-shadow: 0 -0.07em 0.02em rgba(0, 0, 0, 0.4);
      line-height: 1.4em; }
      .region.region-footer .block-views .view-header span.ps-csc-spcolor {
        color: #e75d23;
        font-weight: 800; }
    .region.region-footer .block-views .view-content {
      max-width: 1366px;
      margin: 0 auto;
      border-bottom: 0.7px solid #3a3a3a; }
      .region.region-footer .block-views .view-content .views-field {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
    .region.region-footer .block-views.ps-telefono .view-content {
      border-bottom: 0; }
      .region.region-footer .block-views.ps-telefono .view-content .field-content {
        margin: 0 auto;
        padding: 2em 0 0 0;
        text-align: center;
        color: #b8bbbb;
        font-family: "Waiting for the Sunrise", cursive;
        font-size: 1.4em;
        letter-spacing: 0.1em;
        text-shadow: 0 -0.07em 0.02em rgba(0, 0, 0, 0.4);
        line-height: 1.4em; }
