form#node-registros-form .js-form-item.form-item.js-form-type-vertical-tabs.form-type-vertical-tabs.js-form-item-.form-item-.form-no-label {
  display: none; }

form#node-registros-form div#edit-field-cultivos-wrapper {
  display: none; }

form#node-registros-form div#edit-field-tipo-accion-cuaderno-de-ca-wrapper {
  display: none; }

form#node-registros-form div#edit-field-precio-wrapper {
  display: none; }

form#node-registros-form div#edit-field-maquinaria-wrapper {
  display: none; }

form#node-registros-form div#edit-field-comentario-wrapper {
  display: none; }

form#node-registros-form div#edit-field-dosis-wrapper {
  display: none; }
