div#block-views-block-ayuda-block-1-block-1 {
    margin-top: 4em;
    padding: 3em;
    font-family: Raleway;

    .views-row:nth-child(1){
        margin-bottom: 2em;
        .views-field.views-field-field-texto-contenido-generico{
            font-family: "Waiting for the Sunrise", cursive;
            padding: 0 0 0.5em 0;
            font-size: 2em;
            text-align: center;
            font-weight: 800;
            color: #e75d23;
            font-size: 2em;
        }
        .views-field.views-field-field-texto-visible-largo{
            .field-content{
                display: flex;
                flex-direction: column;
            }
            a{
                color: #e75d23;
                text-shadow: 0 -0.07em 0.02em rgba(0, 0, 0, 0.2);
                text-decoration: none;
            }
        }
    }
    .views-row:nth-child(2){
        .views-field.views-field-field-texto-contenido-generico{
            font-family: "Waiting for the Sunrise", cursive;
            padding: 0 0 0.5em 0;
            font-size: 1.5em;
            font-weight: 800;
            text-decoration: underline;
        }
        .views-field.views-field-field-texto-visible-largo{
            ul{
                list-style: none;
            }
            li{
                margin-bottom: 0.6em;

                &:before{
                    content: ">";
                    font-family: "Waiting for the Sunrise", cursive;
                    font-size: 1.2em;
                    display: inline-block;
                    padding-right: 0.7em;
                }
            }
        }
    }
    .views-row:nth-child(3){
        .views-field.views-field-field-texto-contenido-generico{

        }
        .views-field.views-field-field-texto-visible-largo{
            
        }
    }
}

@media (min-width: 768px) {
    div#block-views-block-ayuda-block-1-block-1 {
        .views-row:nth-child(1){
            .views-field.views-field-field-texto-contenido-generico{
                font-size: 3em;
                text-align: left;
            }
            .views-field.views-field-field-texto-visible-largo{
    
            }
        }
    }
}