
.ps-path-contratar{
    .ps-content-grid {
        padding: 1.5em;
    }

    .region.region-content{
        display: grid;
        grid-template-columns: 1fr;
    }

    div#block-views-block-contratar-block-1-block-1{
        font-family: Raleway;
        .views-row{
            margin-bottom: 2em;
            line-height: 1.4em;
        }

        span{
            color: #e75d23;
            font-family: "Waiting for the Sunrise", cursive;
            font-weight: 900;
            font-size: 1.3em;
            padding: 0 0.3em;
        }

        a{
            color: #4e4e4e;
            font-weight: 600;
            text-decoration: none;

            &:hover{
                color: #e75d23;
            }
            &:before{
                content: ">>";
                font-family: "Waiting for the Sunrise",cursive;
                color: #e75d23;
                font-size: 1.7em;
                font-weight: 900;
                letter-spacing: -0.15em;
                padding-right: 0.3em;
            }
        }
    }

    div#block-views-block-servicio-solicitado-block-1{

    }

}


@media (min-width: 768px) {
    .ps-path-contratar{    
        .region.region-content{
            grid-template-columns: 1fr 3fr;
        }
    }
}