
.ps-path-contratar{
    .ps-content-grid {
        padding: 1.5em 4em;
        max-width: 100%;
    }

    .region.region-content{
        display: grid;
        grid-template-columns: 1fr;
    }

    .node--type-pagina-basica {
        display: none;
    }

    div#block-views-block-contratar-block-1-block-1{
        font-family: Raleway;
        .views-row{
            margin-bottom: 2em;
            line-height: 1.4em;
        }

        span{
            color: #e75d23;
            font-family: "Waiting for the Sunrise", cursive;
            font-weight: 900;
            font-size: 1.3em;
            padding: 0 0.3em;
        }

        a{
            color: #4e4e4e;
            font-weight: 600;
            text-decoration: none;

            &:hover{
                color: #e75d23;
            }
            &:before{
                content: ">>";
                font-family: "Waiting for the Sunrise",cursive;
                color: #e75d23;
                font-size: 1.7em;
                font-weight: 900;
                letter-spacing: -0.15em;
                padding-right: 0.3em;
            }
        }
    }

    div#block-views-block-servicio-solicitado-block-1{
        font-family: Raleway;
        border: 0.5px solid #5b5b5b;
        border-radius: 3px;
        padding: 1em;
        position: relative;
        margin-bottom: 3em;

        h2{
            position: absolute;
            top: -43px;
            left: 10px;
            padding: 0 0.5em;
            display: inline;
            color: #e75d23;
            font-family: "Waiting for the Sunrise", cursive;
            font-size: 1.6em;
            font-weight: 900;
            background: white;
        }
        .view-filters {
            display: none;
        }

        .csc-serviciosGrid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 1em 0;

            .csc-tipoServicio {
                text-align: initial;
            }
            .csc-precioServicio {
                text-align: end;
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
        }

        .priceTotal-row {
            font-size: 1rem;
            padding: 20px 15px;
            background-color: #eee;
            border-radius: 4px;
            font-weight: 600;
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: 2em;

            .csc-mensualServicio{
                text-align: initial;
            }
            .csc-precioFinalServicio{
                text-align: end;
            }
        }
    }

    div#block-views-block-webform-contratar-block-1 {
        border-radius: 3px;
        position: relative;
        margin-top: 3em;
    }

    .view-webform-contratar{
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;

        div{
            width: 100%;
        }

        input{
            width: 95%;
            border-radius: 1px;
            border: 0.5px solid #dfe1e1;
            padding: 0.5em;
            font-size: 1em;
            color: #4e4e4e;
        }

        .view-content{
            border: 1px solid;
            border-radius: 4px;
            padding: 1em;
            color: gray;
            display: flex;
            justify-content: center;

            .views-field.views-field-title{
                .field-content{
                    position: absolute;
                    top: -32px;
                    background: white;
                    padding: 10px;
                    color: #e75d23;
                    font-family: "Waiting for the Sunrise", cursive;
                    font-size: 1.6em;
                    font-weight: 900;
                }
            }

            /*Formulario en sí*/

            .form-required{
                &:after{
                    content: "*";
                    font-family: "Waiting for the Sunrise", cursive;
                    font-size: 1.3em;
                    color: #e75d23;
                    padding-left: 0.3em;
                    background: none;
                    height: 40px;
                    vertical-align: baseline;
                }
            }

            .webform-readonly.js-form-item.form-item.js-form-type-textfield.form-type-textfield.js-form-item-codigo-postal.form-item-codigo-postal {
                display: none;
            }
            
            input.csc-submit{
                background-color: #e75d23;
                font-family: "Waiting for the Sunrise", cursive;
                color: white;
                width: 100%;
                font-size: 1.5em;
                letter-spacing: 0.1em;
                font-weight: 900;
                cursor: pointer;
                height: 70px;
                box-shadow: 0px -5px 3px -3px rgba(0, 0, 0, 0.2);
                border: none;
                border-radius: 3px;
            }

            .js-form-item.form-item.js-form-type-checkbox.form-type-checkbox.js-form-item-acepto-las-condiciones-del-servicio-.form-item-acepto-las-condiciones-del-servicio- ,  .js-form-item.form-item.js-form-type-checkbox.form-type-checkbox.js-form-item--acepto-la-politica-de-privacidad-.form-item--acepto-la-politica-de-privacidad-{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;

                label.option.js-form-required.form-required {
                    font-family: "Waiting for the Sunrise", cursive;
                    font-size: 1em;
                    font-weight: 900;
                    color: black;
                }
                a{
                    color: #e75d23;
                    font-size: 1.4em;
                    font-weight: 700;
                    text-decoration: none;
                }
            }

            .js-form-item.form-item.js-form-type-textarea.form-type-textarea.js-form-item-observaciones.form-item-observaciones, .form-actions.webform-actions.js-form-wrapper.form-wrapper {
                grid-column: 1/3;
            }

            input#edit-acepto-las-condiciones-del-servicio- , input#edit-acepto-la-politica-de-privacidad-{
                width: 1em;
            }

        }
    }

}

@media (min-width: 768px) {
    .ps-path-contratar{
        div#block-views-block-webform-contratar-block-1{
             form#webform-submission-contratacion-online-node-122-add-form {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 2em;
            }
        }
    }
}

@media (min-width: 900px) {
    .ps-path-contratar{    
        .region.region-content{
            grid-template-columns: 1fr 3fr;
            grid-gap: 1em;
        }

        div#block-pagetitle-2{
            grid-column: 1/3;
        }

        div#block-views-block-contratar-block-1-block-1 {
            grid-column: 1/3;
        }

        div#block-views-block-webform-contratar-block-1{
            margin-top: 0;
        }
    }
}