.ps_grid_view{
	.ps_header_title {
		background: #eee;
		padding: 1em;
		font-weight: 800;
		font-size: 1.2em;
		color: #666;
		margin: 1em 0;
	}
	.view-content{	
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 5px;
		margin: 1em;
		.views-row{
			outline: 1px solid;				
			a{
				text-decoration: none;
				color: #333;					
				.ps_row_items_container{
					display: flex;
					padding: 1em;
					justify-content: space-between;
					align-items: center;
					.ps-title {
						display: flex;
						font-weight: 700;
						font-size: 1.2em;
						width: 100%;
						justify-content: center;						
					}
					.ps-svg{
						svg {								
							width: 64px;
							height: 64px;						
						}
					}
				}
			}
		}
	}
}


@media (min-width: 576px) { 
	.ps_grid_view{			
		.view-content{				
			grid-template-columns: 1fr 1fr;								
		}
	}
}	

@media (min-width: 768px) { 
	.ps_grid_view{			
		.view-content{	
			
			grid-template-columns: 1fr 1fr 1fr;
						
		}
	}
}	
