.ps-csc-empresas-content {
    padding: 1em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
    padding-bottom: 3em;

    .views-field.views-field-field-media-image{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

        &:after{
            content: '';
            position: absolute;
            bottom: 0px;
            width: 80%;
            box-shadow: 0px 0em 1em 3px rgba(0,0,0,0.3);
        }           
}

div#block-views-block-empresa-block-1-block-1{
    img{
        width: 100%;
        height: auto;
    }
}

div#block-views-block-empresa-block-2-block-1, div#block-views-block-empresa-block-4-block-1, div#block-views-block-empresa-block-6-block-1 {
    .views-field-field-texto-contenido-generico{
        font-family: "Waiting for the Sunrise", cursive;
        color: #e75d23;
        text-align: left;
        font-size: 1.4em;
        letter-spacing: 0.5em;
        font-weight: 800;
        display: inline;
        padding-bottom: 0.5em;
    }

    img{
        width: 100%;
        height: auto;
    }
}

div#block-views-block-empresa-block-block-1, div#block-views-block-empresa-block-5-block-1 {
    .views-field-field-texto-contenido-generico{
        font-family: "Waiting for the Sunrise", cursive;
        color: #4e4e4e;
        text-align: left;
        font-size: 1.4em;
        letter-spacing: 0.5em;
        font-weight: 800;
        display: inline;
        padding-bottom: 0.5em;
    }
    img{
        width: 100%;
        height: auto;
    }
}

div#block-views-block-listado-de-proyectos-block-1{
    h2{
        font-family: "Waiting for the Sunrise", cursive;
        color: #4e4e4e;
        text-align: left;
        font-size: 1.7em;
        letter-spacing: 0.5em;
        font-weight: 800;
        display: inline;
        padding-bottom: 0.5em;
    }

    .view-header {
        margin: 3em 0;
    }
    .views-row{
        display: flex;
        flex-direction: column;
    }
    .views-field.views-field-field-fecha{
        padding-left: 3em;
    }
    .views-field.views-field-body{
        padding-left: 3em;
    }
    .views-field.views-field-nothing{
            margin: 2em 0;
            font-family: Raleway;
            font-size: 1.2em;
            margin-right: 1em;
            color: #4e4e4e;
            font-weight: 800;
            line-height: 1.4em;
            padding-left: 1em;
        span.field-content {
            display: flex;
            align-items: center;
        }
        .csc-deco-before{
            font-family: "Waiting for the Sunrise", cursive;
            font-size: 1.2em;
            margin-right: 1em;
            color: #4e4e4e;
            font-weight: 800;
            line-height: 1.4em;
        }
    }

}


div#block-views-block-empresa-block-5-block-1{
    div{
        width: 100%;
    }
    ul {
        list-style-type: none;
        padding-left: 2.5em;
        margin-top: 3em;
        li{
            margin-bottom: 0.5em;
            line-height: 1.5em;
            position: relative;
            &:before{
                content: ">";
                font-family: "Waiting for the Sunrise", cursive;
                font-size: 1.2em;
                position: absolute;
                top: 0;
                left: -1em;
            }
        }
    }
}

div#block-views-block-empresa-block-6-block-1{
    ul {
        list-style-type: none;
        padding-left: 2.5em;
        margin-top: 3em;
        li{
            margin-bottom: 0.5em;
            line-height: 1.5em;
            position: relative;
            &:before{
                content: ">";
                font-family: "Waiting for the Sunrise", cursive;
                font-size: 1.2em;
                position: absolute;
                top: 0;
                left: -1em;
            }
        }
    }
}



@media (min-width: 768px) {
    div#block-views-block-empresa-block-5-block-1{
        .views-field.views-field-field-media-image{
            img{
                width: 300px;
                height: auto;
                position: absolute;
                bottom: 0;
                right: 5em;
            }
        }
    }

    div#block-views-block-empresa-block-6-block-1{
        .views-field.views-field-field-media-image{
            img{
                height: auto;
                position: absolute;
                width: 300px;
                right: 2em;
                bottom: 1em;
            }
        }
    }
}
