.ps-path-inicio{
    .ps-grid{
      overflow: hidden;
    }
    
    .ps-content-grid {
        position: relative;
        z-index: -1;
    }
    .ps-header-grid{
        z-index: 10;
    }

    div#block-views-block-home-block-1-nubes-block-1{
        z-index: -2;
        .views-row:nth-child(1){
            position: absolute;
            top: 0;
            left: 0;
            -webkit-animation: animatedCloudOne 10s ease-in infinite alternate;
            img{
                width: 100%;
                height: auto;
            }
        }
        .views-row:nth-child(2){
            position: absolute;
            top: 25%;
            right: 30%;
            -webkit-animation: animatedCloudTwo 10s ease-in infinite alternate;
            img{
                width: 100%;
                height: auto;
            }
        }
        .views-row:nth-child(3){
            position: absolute;
            top: 25%;
            right: 0;
            -webkit-animation: animatedCloudThree 10s ease-in infinite alternate;
            img{
                width: 100%;
                height: auto;
            }
        }
    }

    div#block-views-block-home-block-1-texto-e-img-block-1 {
        font-family: Raleway;
        z-index: 5;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 5em 0 0 0;

        img{
            width: 100%;
            height: auto;
        }

        .csc-home-txt1 {
            color: #4e4e4e;
            font-size: 1.5em;
            font-weight: 300;

            span{
                font-size: 1.2em;
                font-weight: 700;
            }
        }
        .csc-home-txt2 {
            color: #e75d23;
            font-weight: 600;
            padding-top: 1em;
            font-family: "Waiting for the Sunrise", cursive;
            text-shadow: 0 -0.01em 0.02em rgba(0, 0, 0, 0.3);
            font-size: 2.5em;
        }
        .csc-home-txt3 {
            color: #4e4e4e;
            font-size: 1.5em;
            font-weight: 300;
            padding-top: 1.5em;
        }
    }
}

















/*ANIMACIÓN NUBES*/
@-webkit-keyframes animatedCloudOne {
    0% {
      left: -50%;
    }
    50% {
      left: 5%;
      -webkit-transform: scale(0.3);
      transform: scale(0.3);
    }
    80% {
      left: 3%;
      -webkit-transform: scale(0.6);
      transform: scale(0.6);
    }
    100% {
      left: 0;
    }
  }
  
  @-ms-keyframes animatedCloudOne {
    0% {
      left: -50%;
    }
    50% {
      left: 5%;
      -ms-transform: scale(0.3);
      transform: scale(0.3);
    }
    80% {
      left: 3%;
      -ms-transform: scale(0.6);
      transform: scale(0.6);
    }
    100% {
      left: 0;
    }
  }
  
  @-o-keyframes animatedCloudOne {
    0% {
      left: -50%;
    }
    50% {
      left: 5%;
      transform: scale(0.3);
    }
    80% {
      left: 3%;
      transform: scale(0.6);
    }
    100% {
      left: 0;
    }
  }
  
  @-moz-keyframes animatedCloudOne {
    0% {
      left: -50%;
    }
    50% {
      left: 5%;
      transform: scale(0.3);
    }
    80% {
      left: 3%;
      transform: scale(0.6);
    }
    100% {
      left: 0;
    }
  }
  
  @-webkit-keyframes animatedCloudTwo {
    0% {
      top: -15%;
    }
    50% {
      top: -25%;
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
    80% {
      top: 10%;
      -webkit-transform: scale(0.6);
      transform: scale(0.6);
    }
    100% {
      top: 40%;
    }
  }
  
  @-ms-keyframes animatedCloudTwo {
    0% {
      top: -15%;
    }
    50% {
      top: -25%;
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
    80% {
      top: 10%;
      -ms-transform: scale(0.6);
      transform: scale(0.6);
    }
    100% {
      top: 40%;
    }
  }
  
  @-o-keyframes animatedCloudTwo {
    0% {
      top: -15%;
    }
    50% {
      top: -25%;
      transform: scale(0.9);
    }
    80% {
      top: 10%;
      transform: scale(0.6);
    }
    100% {
      top: 40%;
    }
  }
  
  @-moz-keyframes animatedCloudTwo {
    0% {
      top: -15%;
    }
    50% {
      top: -25%;
      transform: scale(0.9);
    }
    80% {
      top: 10%;
      transform: scale(0.6);
    }
    100% {
      top: 40%;
    }
  }
  
  @-webkit-keyframes animatedCloudThree {
    0% {
      right: -50%;
    }
    50% {
      right: 10%;
      -webkit-transform: scale(1.4);
      transform: scale(1.4);
    }
    80% {
      right: 5%;
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
    100% {
      right: 0;
    }
  }
  
  @-ms-keyframes animatedCloudThree {
    0% {
      right: -50%;
    }
    50% {
      right: 10%;
      -ms-transform: scale(1.4);
      transform: scale(1.4);
    }
    80% {
      right: 5%;
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
    100% {
      right: 0;
    }
  }
  
  @-o-keyframes animatedCloudThree {
    0% {
      right: -50%;
    }
    50% {
      right: 10%;
      transform: scale(1.4);
    }
    80% {
      right: 5%;
      transform: scale(0.9);
    }
    100% {
      right: 0;
    }
  }
  
  @-moz-keyframes animatedCloudThree {
    0% {
      right: -50%;
    }
    50% {
      right: 10%;
      transform: scale(1.4);
    }
    80% {
      right: 5%;
      transform: scale(0.9);
    }
    100% {
      right: 0;
    }
  }