.ps-csc-disponibilidad-promociones-header{
    font-family: Raleway;
    .view-content{
        display: grid;
        grid-template-rows: 1fr 1fr;
        position: relative;

        .views-row:nth-child(1){
            grid-row: 2/3;
            background: #e75d23;
            color: #eceded;
            padding: 1em;
            font-size: 1.5em;
            margin-top: -1.3em;

            .field-content{
                display: flex;
                flex-direction: column;
            }

            span{
                font-size: 2em;
            }

            img{
                display: none;
            }
        }
        .views-row:nth-child(2){
            position: absolute;
            right: 2em;
            padding: 1em;

            a{
                color: #4e4e4e;
                font-weight: 600;
                text-decoration: none;

                &:hover{
                    color: #e75d23;
                }
             }

            a:before{
                content: ">>";
                font-family: "Waiting for the Sunrise", cursive;
                color: #e75d23;
                font-size: 1.7em;
                font-weight: 900;
                letter-spacing: -0.15em;
                padding-right: 0.3em;
            }
        }
    }
}

div#block-views-block-disponibilidad-y-ofertas-formulario-block-3{
    font-family: Raleway;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em 0em;

    .view-content{
        text-align: center;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        .views-row:nth-child(1){
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            padding: 2em;
            background: #4e4e4e;
            color: #eceded;

            input {
                color: #4e4e4e;
                margin-top: 2em;
                width: 85%;
                text-align: center;
                border-radius: 3px;
                border: none;
                padding: 0.5em;
            }

            .field-content{
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                align-items: center;
            }
        }
        .views-row:nth-child(2){
            font-family: "Waiting for the Sunrise", cursive;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 1px;
            border-top-right-radius: 1px;
            background: #e75d23;
            color: #eceded;
            padding: 0.3em;
            font-size: 2em;
            font-weight: 900;
            cursor: pointer;

            &:hover{
                box-shadow: inset 0px 8px 9px -5px rgba(0, 0, 0, 0.5);
            }
        }
    }
}


@media (min-width: 768px) {
    .ps-csc-disponibilidad-promociones-header{
        .view-content{
            display: grid;
            grid-template-columns: 1fr 1fr;
            position: relative;
            padding-left: 7em;
    
            .views-row:nth-child(2){
                position: absolute;
                right: 0;
                top: 1em;
            }
        }
    }

    div#block-views-block-disponibilidad-block-1-block-1{
        .view-content{
            .views-row:nth-child(1){
                grid-row: none;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #4e4e4e;
                letter-spacing: 0.1em;
                background: none;
                margin-top: 0;

                .field-content {
                    display: flex;
                    flex-direction: column;
                }

                img{
                    width: 8em;
                    height: 8em;
                    display: block;
                }
    
                span{
                    font-size: 2em;
                }
            }
        }
    }

    div#block-views-block-ofertas-block-1-block-1{
        .view-content{
            .views-row:nth-child(1){
                grid-row: none;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #4e4e4e;
                letter-spacing: 0.1em;
                background: none;
                margin-top: 0;

                .field-content {
                    display: flex;
                    flex-direction: column;
                }

                img{
                    width: 3.5em;
                    height: 5em;
                    display: block;
                    margin-left: 0.5em;
                }
    
                span{
                    font-size: 2em;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    
}