.ps-csc-disponibilidad-promociones-header{
    font-family: Raleway;
    .view-content{
        display: grid;
        grid-template-rows: 1fr 1fr;
        position: relative;

        .views-row:nth-child(1){
            grid-row: 2/3;
            background: #e75d23;
            color: #eceded;
            padding: 1em;
            font-size: 1.5em;
            margin-top: -1.3em;

            .field-content{
                display: flex;
                flex-direction: column;
            }

            span{
                font-size: 2em;
            }

            img{
                display: none;
            }
        }
        .views-row:nth-child(2){
            position: absolute;
            right: 2em;
            padding: 1em;
            a{
            color: #4e4e4e;
            font-weight: 600;
            text-decoration: none;

            &:hover{
                color: #e75d23;
            }

            a:before{
                content: ">>";
                font-family: "Waiting for the Sunrise", cursive;
                color: #e75d23;
                font-size: 1.7em;
                font-weight: 900;
                letter-spacing: -0.15em;
                padding-right: 0.3em;
            }
            }
        }
    }
}



@media (min-width: 768px) {
    .ps-csc-disponibilidad-promociones-header{
        .view-content{
            display: grid;
            grid-template-columns: 1fr 1fr;
            position: relative;
            padding-left: 7em;
    
            .views-row:nth-child(2){
                position: absolute;
                right: 0;
                top: 1em;
            }
        }
    }

    div#block-views-block-disponibilidad-block-1-block-1{
        .view-content{
            .views-row:nth-child(1){
                grid-row: none;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #4e4e4e;
                letter-spacing: 0.1em;
                background: none;
                margin-top: 0;

                .field-content {
                    display: flex;
                    flex-direction: column;
                }

                img{
                    width: 8em;
                    height: 8em;
                    display: block;
                }
    
                span{
                    font-size: 2em;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    
}