.ps-path-servicios{

    .ps-content-grid{
        max-width: 100%;
    }

    span.ps-csc-title-1 {
        color: #4e4e4e;
        letter-spacing: 0.15em;
        font-size: 2em;
        font-family: "Waiting for the Sunrise", cursive;
        line-height: 1.5em;
        position: relative;
        font-weight: 800;
    }

    span.ps-csc-title-2 {
        color: #e75d23;
        letter-spacing: 0.15em;
        font-size: 2em;
        font-family: "Waiting for the Sunrise", cursive;
        line-height: 1.5em;
        position: relative;
        font-weight: 800;
    }

    /*BLOQUE UNO*/
    div#block-views-block-s-block-1-block-1 {
        background: #eceded;

        .view-content {
            padding: 2em;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 4em;

            .views-row {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            .views-row:nth-child(1){
                text-align: center;
            }

            .views-row:nth-child(2){
                font-family: Raleway;
                color: #4e4e4e;
                .csc-1{
                    font-size: 1.1em;
                }
                .csc-2{
                    color: #e75d23;
                    font-size: 1.1em;
                }
                img {
                    width: 100%;
                }
                .views-field.views-field-field-texto-contenido-generico {
                    padding-bottom: 2em;
                }
            }
            .views-row:nth-child(3){
                font-family: Raleway;
                .field-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 0 1em;
                    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
                    border-radius: 5px;
                }

                .csc-black {
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    background: #4e4e4e;
                    width: 100%;
                    padding: 1em;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    
                    .csc-black1{
                        span:nth-child(1){
                            font-size: 2.3em;
                            color: #e75d23;
                        } 
                        span:nth-child(2){
                            color: #eceded;
                            font-size: 1.4em;
                        }
                    }
                    .csc-black2{
                        span{
                            color: #eceded;
                            font-size: 1em;
                            font-weight: 800;
                        }
                    }
                }

                .csc-white {
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    width: 100%;
                    background: #fff;
                    padding: 1em;
                    display: flex;
                    flex-direction: column;
                    text-align: center;

                    .csc-extra1{
                        span:nth-child(1){
                            font-size: 3em;
                            padding: 0.2em;
                            color: #e75d23;
                        } 
                        span:nth-child(2){
                            font-weight: 800;
                            font-size: 1.7em;
                            color: #4e4e4e;
                        }
                    }
                    .csc-extra2{
                        span{
                            font-size: 1.7em;
                            line-height: 1.5em;
                            color: #4e4e4e;
                        }
                    }

                }

                .csc-extra-imagen:before {
                    content: "";
                    width: 35px;
                    height: 75px;
                    display: block;
                    margin: 0 auto;
                    background: url(/sites/default/files/2020-05/flecha.svg) no-repeat;
                    transform: rotate(20deg);
                }

                .csc-extra-imagen {
                    display: flex;
                    flex-direction: column;

                    span:nth-child(1){
                        color: #4e4e4e;
                        font-size: 1.4em;
                        font-weight: 800;
                        line-height: 1em;
                    }
                    span:nth-child(2){
                        font-size: 2.5em;
                        color: #e75d23;
                        line-height: 1em;
                        padding-bottom: 0.3em;
                    }
                    span:nth-child(3){
                        line-height: 1em;
                        font-size: 1.2em;
                        color: #4e4e4e;
                    }
                }
            }
        }
    }

    div#block-views-block-servicios-block-2-block-1{
        font-family: Raleway;
        .view-content {
            padding: 2em;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 4em;

            .views-row {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }

            .views-row:nth-child(2){
                .field-content {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    span:nth-child(1){
                        font-size: 2.5em;
                        color: #4e4e4e;
                        font-weight: 300;
                    }
                    span:nth-child(2){
                        font-size: 4em;
                        color: #4e4e4e;
                    }
                }
            }
            .views-row:nth-child(3){
                display: grid;
                grid-template-columns: 1fr;
                color: #4e4e4e;
                img{
                        transform: scale(1.5) rotate(0deg);
                }
                .views-field.views-field-field-texto-contenido-generico{
                    .field-content {
                        display: flex;
                        justify-content: center;
                        align-items: baseline;

                        span:nth-child(1){
                            font-size: 10em;
                            font-family: "Waiting for the Sunrise", cursive;
                        }
                        span:nth-child(2){
                            font-size: 3em;
                        }
                    }
                }
            }
        }
    }

    div#block-views-block-servicios-block-3-block-1{
        background: #eceded;
        font-family: Raleway;
        .view-content {
            padding: 0.2em;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 4em;

            .views-row {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }

            .ps-csc-widget {
                background: white;
                margin: 1em 0;
                display: flex;
                width: 100%;
                align-items: center;
                border-radius: 5px;
                box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);

                .ps-num {
                    background: #4e4e4e;
                    font-family: "Waiting for the Sunrise", cursive;
                    font-size: 3em !important;
                    min-width: 2em;
                    min-height: 4em;
                    color: #eceded;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    font-size: 1.2em;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                }
                .ps-num.csc-color {
                    background: #e75d23;
                }

                .ps-csc-largetext {
                    padding: 0 1em;
                }

                span.csc-text1{
                    color: #4e4e4e;
                    font-weight: normal;
                    font-size: 1.4em;
                }
                span.csc-text2{
                    color: #e75d23;
                    font-weight: 800;
                    font-size: 1.4em;
                }
                span.csc-text3{
                    color: #4e4e4e;
                    font-weight: 800;
                    font-size: 1.2em;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .ps-path-servicios{
        div#block-views-block-s-block-1-block-1 {
            .view-content {
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 1em;
            }
        }

        div#block-views-block-servicios-block-2-block-1{
            .view-content {
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 1em;

                .views-row:nth-child(3){
                    grid-template-columns: 1fr 1fr;

                    .views-field.views-field-field-texto-contenido-generico{
                        .field-content {
                            span:nth-child(1){
                                font-size: 7em;
                            }
                        }
                    }

                    img{
                        transform: scale(1.5) rotate(-90deg);
                    }
                }
            }
        }
        div#block-views-block-servicios-block-3-block-1{
            .view-content {
                grid-template-columns: 1fr 2fr;
                grid-gap: 1em;
                padding: 2em;

                .ps-csc-widget {
                    .ps-num {
                        font-size: 5em !important;
                        min-height: 1em;
                    }
                }
            }
        }
    }
}

@media (min-width: 900px) {
    .ps-path-servicios{
        div#block-views-block-servicios-block-2-block-1{
            .view-content {
                .views-row:nth-child(3){
                    .views-field.views-field-field-texto-contenido-generico{
                        .field-content {
                            span:nth-child(1){
                                font-size: 15em;
                            }
                        }
                    }
                }
            }
        }
    }
}