.ps-path-servicios{

    .ps-content-grid{
        max-width: 100%;
    }

    span.ps-csc-title-1 {
        color: #4e4e4e;
        letter-spacing: 0.15em;
        font-size: 2em;
        font-family: "Waiting for the Sunrise", cursive;
        line-height: 1.5em;
        position: relative;
        font-weight: 800;
    }

    div#block-views-block-s-block-1-block-1 {
        background: #eceded;

        .view-content {
            padding: 2em;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 4em;

            .views-row {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            .views-row:nth-child(1){
                text-align: center;
            }

            .views-row:nth-child(2){
                font-family: Raleway;
                color: #4e4e4e;
                .csc-1{
                    font-size: 1.1em;
                }
                .csc-2{
                    color: #e75d23;
                    font-size: 1.1em;
                }
                img {
                    width: 100%;
                }
                .views-field.views-field-field-texto-contenido-generico {
                    padding-bottom: 2em;
                }
            }
            .views-row:nth-child(3){
                font-family: Raleway;
                .field-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                .csc-black {
                    background: #4e4e4e;
                    padding: 1em;
                    display: flex;

                    .csc-black1{
                        span:nth-child(1){
                            font-size: 2.3em;
                            color: #e75d23;
                        } 
                        span:nth-child(2){
                            color: #eceded;
                            font-size: 1.4em;
                        }
                    }
                    .csc-black2{
                        span{
                            color: #eceded;
                            font-size: 1em;
                            font-weight: 800;
                        }
                    }
                }
            }
        }
    }


}



@media (min-width: 768px) {
    div#block-views-block-s-block-1-block-1 {
        .view-content {
            grid-template-columns: 1fr 1fr 1fr !important;
            grid-gap: 1em !important;
        }
    }

}