.ps-path-tarifas{
    .region.region-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    div#block-pagetitle-2 {
        grid-column: 1/4;
    }

    div#block-views-block-tarifas-y-promociones-a-tu-medida-block-block-1{
        .view-content{
            .views-row:nth-child(1){
                background-color: red;
            }
        }
    }
}