.ps-path-tarifas{
    .region.region-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    div#block-pagetitle-2 {
        grid-column: 1/4;
    }

    div#block-views-block-tarifas-y-promociones-a-tu-medida-block-block-1{
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        .view-content{
            .views-row:nth-child(1){
                background: #e75d23;
                font-size: 1.75em;
                text-align: center;
                color: #eceded;
                padding: 0.6em;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;

                span{
                    font-weight: 900;
                }
            }
        }
    }
}