.ps-path-user{

	form#user-login-form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 992px;
		min-width: 300px;
		height: 13em;
		
		margin: 1em;
		background: #d5e7ff;
		border-radius: 1em;
		
		/* Interior Form */
		div#edit-name--description{
			display: none;
		}
		
		div#edit-pass--description {
			display: none;
		}
		
		.form-item, .form-actions {
			margin-top: 1em;
			margin-bottom: 1em;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		
		input#edit-name {
			width: 50%;
			border-radius: 5px;
			border: solid 1px;
			border-color: #a5a5a5;
		}
		
		input#edit-pass{
			width: 50%;
			border-radius: 5px;
			border: solid 1px;
			border-color: #a5a5a5;
		}
		
		label.js-form-required.form-required {
			width: 120px;
		}
		
		input{
			&:focus{
				outline: none;
			}
		}
		
		textarea{
			&:focus{
				outline: none;
			}
		}
	}
	
	div#block-views-block-header-login-logo-block-1{
		img{
			width: 100%;
			height: auto;
		}
	}
	
	div#block-views-block-logos-footer-login-block-1{
		img{
			width: 100%;
			height: auto;
		}
	}
}