div#edit-field-usuarios-invernadero-wrapper{
    display: none;
}

div#edit-field-icono-invernadero-wrapper{
    display: none;
}

div#edit-field-referencia-invernadero-wrapper{
    display: none;
}

div#edit-field-tipo-de-plantula-wrapper{
    display: none;
}

div#edit-body-wrapper{
    div#edit-body-0-format{
        display: none;
    }

    span.field-edit-link {
        display: none;
    }
}