.js-form-item.form-item.js-form-type-vertical-tabs.form-type-vertical-tabs.js-form-item-.form-item-.form-no-label{
    display: none;
}

.field--name-field-cultivos{
    display: none;
}

.field--name-field-tipo-accion-cuaderno-de-ca{
    display: none;
}
