/*
Sass Footer
*/

.region.region-footer {
    background: #4e4e4e;
	
	.block-views{
		margin: 0 1em;
		
		.view-content {
			max-width: 1366px;
			margin: 0 auto;
			border-bottom: 0.7px solid #3a3a3a;
			padding: 3em 0;
			
			.views-field {
				justify-content: center;
				display: flex;
				align-items: center;
				margin-top: 2em;
				
				span.field-content {
					width: 300px;
					margin: 0 auto;
					text-align: center;
					color: #b8bbbb;
					font-family: "Waiting for the Sunrise", cursive;
					font-size: 1.4em;
					letter-spacing: 0.1em;
					text-shadow: 0 -0.07em 0.02em rgba(0, 0, 0, 0.4);
					line-height: 1.4em;
				}
				
				span.ps-csc-spcolor{
					color: #e75d23;
					font-weight: 800;
				}
			}
			
		}
	}
	
}

