/*
Sass Footer
*/

.region.region-footer {
    background: #4e4e4e;
	
	.block-views{
		margin: 0 2em;
		
		.view-header{
		
			margin: 0 auto;
			padding: 2em 0 0 0;
			text-align: center;
			color: #b8bbbb;
			font-family: "Waiting for the Sunrise", cursive;
			font-size: 1.4em;
			letter-spacing: 0.1em;
			text-shadow: 0 -0.07em 0.02em rgba(0, 0, 0, 0.4);
			line-height: 1.4em;
			
			span.ps-csc-spcolor{
				color: #e75d23;
				font-weight: 800;
			}
		}
		.view-content {
			max-width: 1366px;
			margin: 0 auto;
			border-bottom: 0.7px solid #3a3a3a;
			
			.views-field {
				justify-content: center;
				display: flex;
				align-items: center;
			}
			
		}
	
		&.ps-telefono{
			.view-content {
					border-bottom: 0;
				
				.field-content{
					margin: 0 auto;
					padding: 1em 0 0 0;
					text-align: center;
					color: #b8bbbb;
					font-family: "Waiting for the Sunrise", cursive;
					font-size: 1.4em;
					letter-spacing: 0.1em;
					text-shadow: 0 -0.07em 0.02em rgba(0, 0, 0, 0.4);
					line-height: 1.4em;
				}
			
			}
		}
		
		&.ps-rrss{
			.view-content {
				display: flex;
				justify-content: center;
				.views-row {
					padding: 1em;
				}
				
				svg{
					width: 30px;
					height: 30px;
					path{
						fill: #b8bbbb !important;
					}
					&:hover{
						path{
							fill: #ea6e3a !important;
						}
					}
				}
			}
		}
	}
}
