/*
Sass Header
*/

.region.region-header {
	background: #4e4e4e;
}

div#block-views-block-logotipo-csc-block-header-block-1 {
    width: 100%;
    background: #eceded;
	height: 125px;
	 
	.field-content {
		height: 125px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

div#block-views-block-internet-para-todos-block-header-block-1 {
    height: 80px;
	
	.field-content {
		text-align: center;
		font-size: 1.8em;
		text-transform: capitalize;
		text-shadow: 0 -0.03em 0.02em rgba(0, 0, 0, 0.5);
		font-weight: 800;
		font-family: "Waiting for the Sunrise", cursive;
		color: #b8bbbb;
		align-items: center;
		display: flex;
		justify-content: center;
		height: 80px;
	}
}

@media (min-width: 768px) {
    div#block-views-block-logotipo-csc-block-header-block-1 {
		width: 25%;
	}
	
	div#block-views-block-internet-para-todos-block-header-block-1 {
		height: 125px;
	}
	
}
