/*
Sass sidebar
*/

.ps-sidebar-grid {
    position: absolute;
    top: 0;
    background: #4e4e4e;
    width: 100vw;
    height: 100vh;
	z-index: 10;
	display: none;
	opacity: 0;
	transition: all 2s;
	
	&.ps-showsidebar{
		display: block !important;
		opacity: 1;
		transition: all 2s;
	}

	div#block-views-block-boton-cerrar-o-cancel-svg-block-1{
		position: absolute;
		top: 1.5em;
		left: 1.5em;
		padding: 0.5em;
		cursor: pointer;
		svg{
			path{
				fill: #b8bbbb;
			}
		}
	}
}

@media (min-width: 768px) {
	.ps-sidebar-grid {
		width: 50vw;
		height: 100vh;
	}
}