div#block-views-block-botonera-navegacion-principal-block-1 {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    background: #ddd;    
	
	.view-content {
		display: flex;
		width: 100vw;
		max-width: 500px;
		padding: 0.5em 0;
		.views-row {
			display: flex;
			align-items: center;
			flex-direction: column;
			width: 25%;
			svg{
				width: 32px;
				height: 32px;
			}
			a{
				text-decoration: none;
				color: #444;
				font-size: 1.2em;
				font-weight: 700;
			}
		}
	}
}